body {
 text-align: center;
}

#container{
    border: 1px solid grey;
    width: 800px;
    height: 600px;
    margin: auto;
    display: flex;
    align-items:flex-end;
}

#container div{
    background-color:pink;
    border: 1px solid grey;
    flex: 1;
}